<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        
        <li class="start">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">仪表盘</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-settings"></i>
                <span class="title">系统设置</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/ui_bootstrap.html">
                        <i class="icon-puzzle"></i><span> 公共账号设置</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-wrench"></i>
                <span class="title">基础服务</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:;">
                        <i class="icon-briefcase"></i> 消息设置
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/form-tools">
                                <i class="icon-puzzle"></i> 默认设置
                            </a>
                        </li>
                        <li>
                            <a href="#/pickers">
                                <i class="icon-calendar"></i> 关注时回复
                            </a>
                        </li>
                        <li>
                            <a href="#/dropdowns">
                                <i class="icon-refresh"></i> 文本回复
                            </a>
                        </li>
                        <li>
                            <a href="#/tree">
                                <i class="icon-share"></i> 图文回复
                            </a>
                        </li>
                        <li>
                            <a href="#/tree">
                                <i class="icon-share"></i> LBS回复
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-briefcase"></i> 基础设置
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/datatables/advanced.html">
                                <i class="icon-tag"></i> 自定义菜单
                            </a>
                        </li>
                        <li>
                            <a href="#/datatables/ajax.html">
                                <i class="icon-refresh"></i> 模板消息
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/profile/dashboard">
                <i class="icon-user"></i>
                <span class="title">客户管理</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-briefcase"></i> 外卖管理
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/datatables/advanced.html">
                        <i class="icon-tag"></i> 定义外卖列表
                    </a>
                </li>
                <li>
                    <a href="#/datatables/ajax.html">
                        <i class="icon-refresh"></i> 订单管理
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/todo">
                <i class="icon-check"></i>
                <span class="title">微官网</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>	